@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Momo+Trust+Display&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 236, 140);
 
}
main{
max-width:330px;
  width: 100%;
  max-height: 100vh;
  background-color: hsl(60, 2%, 9%);
  padding:0.9rem;
  border-radius: 1rem;
  box-shadow: rgba(254, 255, 255, 0.4) 0px 0px 1px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
main, button{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.4rem;
  color: rgb(243, 232, 172);
}
.screen{
  min-height: 140px;
  display: flex;
  flex-direction:column;
  align-items:end;
  background-color: rgb(251, 255, 254);
  color: black;
  padding:1rem 0.6rem 0 0.4rem ;
  border-radius: 1rem;
  margin: 0.5rem 0 0.8rem 0;
  overflow:hidden;

}
#output-num{
  font-size:2.8rem;
}
.keyboard{
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  gap:0.3rem;
}
.changer{
  display:none;
}
button{
  border-radius: 1rem;
  background-color: transparent;
  cursor: pointer;
}
button:active{
  scale: 0.98;
}
.operator{
  color: rgb(24, 167, 255);
}
.e-operator{
  color: rgb(247, 186, 63);
}
svg{
  width: 2rem;
  margin-top: 10px;
}

@media (min-width: 800px) {
  html {
    font-size: 19px;
  }
  .screen{
    min-height:155px;
  }
  main {
    max-width: 400px;
  }
}

@media (min-width: 480px) and (max-width: 800px) {
  html {
    font-size: 17px;
  }
  main {
    max-width: 360px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 15px;
  }
 .screen{
  min-height:125px;
 }
  main {
    max-width: 320px;
  }
}